
.deps
.libs

*.a
*.o
*.lo

config.*
configure

Makefile
Makefile.in

transmission.spec

INSTALL
aclocal.m4
autom4te.cache/

cli/transmissioncli

daemon/transmission-daemon
daemon/transmission-remote

depcomp
libtool
install-sh
ltmain.sh
missing
mkinstalldirs

error.log

gtk/sexy-marshal.c
gtk/sexy-marshal.h
gtk/tr-core-dbus.h
gtk/transmission.desktop
gtk/transmission

intltool-extract.in
intltool-merge.in
intltool-update.in

libtransmission/bencode-test
libtransmission/blocklist-test
libtransmission/clients-test
libtransmission/json-test
libtransmission/magnet-test
libtransmission/peer-msgs-test
libtransmission/request-list-test
libtransmission/rpc-test
libtransmission/test-peer-id
libtransmission/utils-test
libtransmission/history-test

libtransmission/version.h

utils/transmission-create
utils/transmission-edit
utils/transmission-show

m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo

third-party/libevent/aclocal.m4
third-party/libevent/autom4te.cache/
third-party/libevent/event-config.h
third-party/libevent/libevent.la
third-party/libevent/libevent_core.la
third-party/libevent/libevent_extra.la
third-party/libevent/libtool
third-party/libevent/ltmain.sh
third-party/libevent/sample/event-test
third-party/libevent/sample/signal-test
third-party/libevent/sample/time-test
third-party/libevent/stamp-h1
third-party/libevent/test/bench
third-party/libevent/test/regress
third-party/libevent/test/regress.gen.c
third-party/libevent/test/regress.gen.h
third-party/libevent/test/test-eof
third-party/libevent/test/test-init
third-party/libevent/test/test-time
third-party/libevent/test/test-weof

third-party/miniupnp/miniupnpcstrings.h
