*.lo
*.o
*.a
.deps/
Makefile
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/intltool.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/missing
/mkinstalldirs
/po/Makefile.in.in
/po/*.gmo
/po/.intltool-merge-cache
/po/POTFILES
/po/stamp-it
/cli/transmission-cli
/daemon/transmission-daemon
/daemon/transmission-remote
/gtk/transmission-gtk
/qt/transmission-qt
/utils/transmission-create
/utils/transmission-edit
/utils/transmission-show
/gtk/tr-core-dbus.h
/gtk/transmission-gtk.desktop
/transmission-gtk.spec
/libtransmission/*-test
/libtransmission/test-peer-id
/qt/qrc_application.cpp
/qt/ui_mainwin.h
/qt/qtr.pro.user
/qt/moc_*.cpp
/qt/translations/*.qm
/third-party/miniupnp/miniupnpcstrings.h
/libtransmission/version.h
