*.a
*.lo
*.o
.deps/
/INSTALL
/aclocal.m4
/autom4te.cache/
/cli/transmission-cli
/config.guess
/config.log
/config.status
/config.sub
/configure
/daemon/transmission-daemon
/daemon/transmission-remote
/depcomp
/gtk/tr-core-dbus.h
/gtk/transmission-gtk
/gtk/transmission-gtk.desktop
/install-sh
/libtool
/libtransmission/*-test
/libtransmission/test-peer-id
/libtransmission/version.h
/ltmain.sh
/m4/intltool.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/mkinstalldirs
/po/*.gmo
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/qt/moc_*.cpp
/qt/qrc*.cpp
/qt/qrc_application.cpp
/qt/qtr.pro.user
/qt/translations/*.qm
/qt/transmission-qt
/qt/ui_*.h
/qt/ui_mainwin.h
/transmission-gtk.spec
/utils/transmission-create
/utils/transmission-edit
/utils/transmission-show
Makefile
Makefile.in
